body{
background:green;
margin-left:1in;
margin-right:1in;
margin-top:60px;
}

h1{
color:blue;
background:red;
font-size:40px;
text-align:center;
font-style:bold;
font-family:arial;
text-decoration:underline;}

p{
color:blue;
background:yellow;
word-spacing:5px;
font-weight:itali;
text-decoration:underline;
letter-spacing:1px;
line-height:40px;
margin-top:60px;}